@model Shop.Models.ProductType

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div> 
        There is not a product with type @Model.ProductTypeName
    </div>
</body>
</html>
