
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WithSameParams</title>
</head>
<body>
    @Html.ActionLink("Home Page", "HomePage")
    <div>
        <h1>Please change your input because there is a product with the same params</h1>
    </div>
</body>
</html>
